/*
	Custom Style Guide - One K for Coach K project
	By: Nabil Enayet 1/21/2015
	http://anylytics.io
*/

/****** HEADER STYLING *****/


div#header {
	z-index:10;
	height:70px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background-color:#003366;
	border-bottom-width:5px;
	border-bottom-style:solid;
	border-bottom-color:#262626;
}

@media (max-width: 768px) {
	div#header {
		height:40px;
		border-bottom-width:5px;
	}
}



div#header > img#logo  {
	z-index:50;
	height:50px;
	display:block;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	margin-top:10px;
}

div#header > img#ball  {
	z-index:40;
	height:40px;
	display:block;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	margin-top:50px;
}

@media (max-width: 768px) {
	div#header >img#logo {
	height:20px;
	margin-top:8px;
	margin-left:30px;
	}
	div#header >img#ball {
	display:none;
	}
}

div#tagline {
	display:block;
	width:100%;
	position:fixed;
	top:170px;
	text-align:center;
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    -ms-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-delay: 0.65s;
    -moz-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

div#tagline > h1 {
	color:#003366;
	font-size:3rem;
}

div#spacer {
	height:70px;
}

div#spacer.visible-xs {
	height:40px;
}


/****** CONTENT STYLING *****/

div#bodyContent {
	//margin-top:70px;
}

/******* SCORE BOARD ******/

div#score {
	display:block;
	width:100%;
	text-align:center;
	height:150px;
	margin-bottom:20px;
	margin-top:20px;
}

div.team {
	width:34%;
	height:100%;
	display:inline-block;
	text-align:left;
	position:relative;
}


img.teamImg {
	height:150px;
	padding:25px;
	display:inline-block;
	position:absolute;
}



div#away > div.teamInfo {
	text-align:left;
	display:inline-block;
	top:25%;
	position:absolute;
	margin-left:150px;
}

div#home > img {
	display:inline-block;
	position:absolute;
	right:0;
}

div#home > div.teamInfo {
	text-align:right;
	display:inline-block;
	top:25%;
	position:absolute;
	margin-right:150px;
	right:0;
}

span.schoolName {
	font-size:1.4em;
	font-weight:bold;
}
span.schoolMascot {
	font-size:1.2em;
	padding-top:10px;
}
span.schoolRecord {
	font-size:1em;
	padding-top:10px;
}

@media (max-width: 768px) {
	div#score {
		height:100px;
	}
	img.teamImg {
		height:100px;
		padding:10px;
		display:inline-block;
		position:absolute;
	}

	div.teamInfo {
		visibility:hidden;
	}
	div.team {
		width:10%
	}
}


div#scoreBoard {
	width:30%;
	min-width:100px;
	position:relative;
	display:inline-block;
	height:100%;
	clear:both;
	top:-80px;
	font-family:'Dots',sans-serif;
	font-size:7rem;
	padding-left: 30px
}

@media (max-width: 768px) {
	div#scoreBoard {
		font-size:6rem;
		top:-40px;
		width:59%;
	}
}


/******* TIME-TWEET GRAPH ******/


div#timelineContainer {
	height:200px;
	width:100%;
	background-color:darkgray;
}


div#tweetBoxContainer {
	height:400px;
	width:100%;
}

div.timelineContents {
	position:absolute;
}

div#timelineYAxis {
	//height:90%;
	width:20px;
	height:10%;
	background-color:black;
	display:inline-block;
}

div#timelineBody {
	left:0;
	//height:90%;
	width:calc(100%-20px);
	width:20px;
	display:inline-block;
	background-color:yellow;
}



/******* TWEET CONTAINER ********/

div#tweetBox {
	margin-left:30%;
	margin-right:20%;
	margin-top:30px;
	height:360px;
	overflow-y:auto;
	overflow-x:hidden;
	background-color:white;
	border-radius:5px;
}

@media (max-width: 768px) {
	div#tweetBox {
		margin-left:20px;
		margin-right:20px;
	}
}

div#tweetBoxHead {
	height:40px;
	width:100%;
	padding:10px;
	border-bottom-style:solid;
	border-bottom-color:lightgray;
	border-bottom-width:1px;
	font-family:'SourceSans', sans-serif;
}

div#tweetBoxHead > span {
	display:inline-block;
}

span#twitterImg {
	float:right;
}

/********** Tweets ********/

div.tweetContainer {
	padding:10px;
	border-bottom-style:solid;
	border-bottom-color:lightgray;
	border-bottom-width:1px;
}

div#redCirc {
	background-color:red;
	height:5px;
	width:5px;
	border-radius:50%;
	display:inline-block;
	margin:2px;
}

div.tweetContainer:hover {
	background-color:#CFEDED;
}

div.tweetProfileImg {
	padding-right:10px;
	display:inline-block;
}

div.tweetProfileImg > img {
	border-radius:5px;
	height:50px;
}

div.tweetContents {
	display:inline-block;
}

span.userName {
	font-size:1.1em;
	font-weight:bold;
	padding-right:10px;
}

span.userID {
	padding-right:10px;
}

span.timeStamp {
	color:lightgray;
	float:right;
}




/******** Coach K Museum *******/

div#coachKMuseum {
	text-align:center;
	background-color:#262626;
	padding-top:20px;
}

div.milestoneTile {
	margin-top:40px;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
	height:200px;
	width:200px;
	background-color:white;
	border-radius:2px;
}

div.milestoneTile:hover {
	background-color:#0680CD;
	color:white;
}

div.milestoneTile > span.winNum {
	font-size:3em;
}

div.milestoneTile > span.teamPlayed {
	font-size:2em;
}

div.milestoneTile > span.finalScore {
	font-size:1.5em;
}

div.milestoneTile > span.date {
	font-size:1em;
}

div#oneThou {
	width:100%;
}