/*
	Custom Style Guide - One K for Coach K project
	By: Nabil Enayet 1/21/2015
	http://anylytics.io
*/

/****** HEADER STYLING *****/


div#header {
	z-index:10;
	height:70px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	background-color:#003366;
	border-bottom-width:5px;
	border-bottom-style:solid;
	border-bottom-color:#262626;
}

@media (max-width: 768px) {
	div#header {
		height:40px;
		border-bottom-width:5px;
	}
}



div#header > img#logo  {
	z-index:50;
	height:50px;
	display:block;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	margin-top:10px;
}

div#header > img#ball  {
	z-index:40;
	height:40px;
	display:block;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	margin-top:50px;
}

div#header > img#question {
	padding:20px;
	right:0;
	margin:auto;
	position:absolute;
	margin-right:100px;
}

@media (max-width: 768px) {
	div#header >img#logo {
	height:20px;
	margin-top:8px;
	margin-left:30px;
	}
	div#header >img#ball {
		display:none;
	}
	div#header > img#question {
		padding:5px;
		margin-right:50px;
		margin:auto;
	}
}


div#tagline > h1 {
	color:#003366;
	font-size:3rem;
}

div#spacer {
	height:70px;
}

div#spacer.visible-xs {
	height:40px;
}

/****** FOOTER *********/

footer {
	text-align:right;
	padding-right:20px;
	padding-top:15px;
	height:60px;
	background-color:#262626;
	width:100%;
	margin-top:50px;
}

div#anylytics, div#anyLogoContainer {
	display:inline-block;
	color:white;
}

img#anyLogo {
	height:30px;
	display:inline-block;
}


/****** CONTENT STYLING *****/

div#bodyContent {
	//margin-top:70px;
}

/******* SCORE BOARD ******/

div#score {
	display:block;
	width:100%;
	text-align:center;
	height:150px;
	margin-bottom:20px;
	margin-top:20px;
}

div.team {
	width:34%;
	height:100%;
	display:inline-block;
	text-align:left;
	position:relative;
}


img.teamImg {
	height:150px;
	padding:25px;
	display:inline-block;
	position:absolute;
}



div#away > div.teamInfo {
	text-align:right;
	display:block;
	top:25%;
	position:absolute;
	margin-left:150px;
}

div#home > img {
	display:inline-block;
	position:absolute;
	right:0;
}

div#home > div.teamInfo {
	text-align:right;
	display:inline-block;
	top:25%;
	position:absolute;
	margin-right:150px;
	right:0;
}

span.schoolName {
	font-size:1.4em;
	font-weight:bold;
}
span.schoolMascot {
	font-size:1.2em;
	padding-top:10px;
}
span.schoolRecord {
	font-size:1em;
	padding-top:10px;
}

@media (max-width: 768px) {
	div#score {
		height:100px;
	}
	img.teamImg {
		height:100px;
		padding:10px;
		display:inline-block;
		position:absolute;
		left:-30px;
	}

	div.teamInfo {
		visibility:hidden;
	}
	div.team {
		width:10%
	}
}


div#scoreBoard {
	width:30%;
	min-width:100px;
	position:relative;
	display:inline-block;
	height:100%;
	clear:both;
	top:-60px;
	//font-family:'Dots',sans-serif;
	padding-left: 30px
}

div#scoreBoard > div#scoreValue {
	font-size:2rem;
}
div#scoreBoard > div#time {
	font-size:3rem;
}

@media (max-width: 768px) {
	div#scoreBoard {
		font-size:6rem;
		top:-10px;
		width:59%;
	}

	div#score {
		margin-bottom:60px;
	}
}


/******* TIME-TWEET GRAPH ******/


div#timelineContainer {
	padding-top:40px;
	height:280px;
	width:100%;
	background-color:darkgray;
}

#info {
	padding:10px;
	display:inline-block;
}

div#info > h3 {
	position:absolute;
	right:0;
	text-align:right;
	max-width:80%;
	z-index: 5;
	background-color:white;
}

div#info > h3, h6 {
	color:gray;
	display:inline-block;
	margin-top:-7px;
	font-size:3em;
	margin-bottom:-5px;
	font-family:'SourceSans', sans-serif;
}

@media (max-width: 768px) {
	div#info >h3 {
		font-size:2em;
		background:transparent;
	}
}

#clickMarker {
	//fill:black;
}

#timeSelector:hover {
	opacity:.6;
	bottom:0px;
}

#clickMarker:hover {
	opacity:0.6;
}

.binSelected {
	opacity:.6;
}

#timelineText {
	 font-size:1.2em;
}

div#tweetBoxContainer {
	height:400px;
	width:100%;
}

div.timelineContents {
	position:absolute;
}

div#timelineYAxis {
	//height:90%;
	width:20px;
	height:10%;
	background-color:black;
	display:inline-block;
}

div#timelineBody {
	left:0;
	//height:90%;
	width:calc(100%-20px);
	width:20px;
	display:inline-block;
	background-color:fyellow;
}

/********toggle*******/
/* https://dribbble.com/shots/1225745-iOS-7-Toggle-GIF-CSS?list=users&offset=32 */

.b {
  display: block;
}

.toggle {
  position: relative;
  top:100%;
  left:50px;
  width: 60px;
  height: 40px;
  border-radius: 100px;
  background-color: #eee;
  margin: -40px -40px;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

  .check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #4bd863;
  }

  .check:checked ~ .switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
  }

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}



/******* TWEET CONTAINER ********/

div#tweetBox {
	margin-left:30%;
	margin-right:20%;
	margin-top:30px;
	height:360px;
	overflow-y:auto;
	overflow-x:hidden;
	background-color:white;
	border-radius:5px;
}

@media (max-width: 768px) {
	div#tweetBox {
		margin-left:20px;
		margin-right:20px;
	}
}

div#tweetBoxHead {
	height:40px;
	width:100%;
	padding:10px;
	border-bottom-style:solid;
	border-bottom-color:lightgray;
	border-bottom-width:1px;
	font-family:'SourceSans', sans-serif;
}

div#tweetBoxHead > span {
	display:inline-block;
}

span#twitterImg {
	float:right;
}

/********** Tweets ********/

div.tweetContainer {
	padding:10px;
	border-bottom-style:solid;
	border-bottom-color:lightgray;
	border-bottom-width:1px;
}

div#redCirc {
	background-color:red;
	height:5px;
	width:5px;
	border-radius:50%;
	display:inline-block;
	margin:2px;
}

div.tweetContainer:hover {
	background-color:#CFEDED;
}

div.tweetProfileImg {
	padding-right:10px;
	display:inline-block;
}

div.tweetProfileImg > img {
	border-radius:5px;
	height:50px;
}

div.tweetContents {
	display:inline-block;
}

span.userName {
	font-size:1.1em;
	font-weight:bold;
	padding-right:10px;
}

span.userID {
	padding-right:10px;
}

span.timeStamp {
	color:lightgray;
	float:right;
}




/******** Coach K Museum *******/

div#coachKMuseum {
	text-align:center;
	background-color:#262626;
	padding-top:80px;
	z-index:1;
}

div#coachKMuseum > h3 {
	color:#0680CD;;
	font-family:'SourceSans', sans-serif;
}

div.milestoneTile {
	margin-top:40px;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
	height:200px;
	width:200px;
	background-color:white;
	border-radius:2px;
}

div.milestoneTile:hover {
	background-color:#0680CD;
	color:white;
}

div.milestoneTile > span.winNum {
	font-size:3em;
}

div.milestoneTile > span.teamPlayed {
	font-size:2em;
}

div.milestoneTile > span.finalScore {
	font-size:1.5em;
}

div.milestoneTile > span.date {
	font-size:1em;
}

div#oneThou {
	width:100%;
}

div#oneThou > span.winNum {
	font-size:4em;
}


div#accomplishments {
	//background-color:#0680CD;
	text-align:center;
}

div#accomplishments > h1 {
	color:#262626;
}


div.recordBadge {
	margin-top:40px;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
	height:100px;
	width:100px;
	background-color:white;
	border-radius:50%;
	padding-top:20px;
}


div.recordBadge > span.teamCoached {
	font-size:2em;
}

div#army:hover {
	background-color:#FFD530;
}
div#duke:hover {
	background-color:#003366;
	color:white;
}

div.accomplishmentBadge {
	margin-top:40px;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
	height:100px;
	width:100px;
	background-color:white;
	border-radius:50%;
	padding-top:20px;
}

div.accomplishContainer {
	margin-top:10px;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	border-radius:2px;
	background-color:#262626;
	color:white;
}


div.accomplishmentBadge > span.teamCoached {
	font-size:2.5em;
}

div.accomplishmentBadge > span.winNum {
	font-size:1em;
}

